*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-primary: #F5F4FA;
    --clr-action: #9272C2;
    --clr-dark: #2F274C;
}

body {
    background-color: var(--clr-primary);
    color: var(--clr-dark);
}
